*{
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro";
}

.container{
  width: 100%;
  min-height: 100vh;
}

.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#head{
  display: flex;
}

#title{
  width: 50%;
  height:auto;
}

#title h1{
  margin-top: 1.5%;
  margin-left: 20%;
}

span{
  color: red;
}

#phone{
  display: flex;
  width:50%;
  height:auto;
  text-align: right;
}

#phone p{
  margin-left: 20%;
  margin-top: 2.5%;
  font-size: 0.8em;
}

#phone h2{
  margin-left:2%;
  margin-top: 1.5%;
}

#img{
  width: 100%;
}

#img img{
  width: 100%;
  height: auto;
}

#textonimg{
  width:20%;
  position:absolute;
  top: 30%;
  left: 10%;
  text-align: center;
  text-transform: uppercase;
  background: black;
  opacity: 0.8;
  color: white;
}
#booktext{
  width: 18%;
  text-align: center;
  position:absolute;
  text-transform: uppercase;
  top: 35%;
  left: 10%;
  background: black;
  opacity: 0.8;
  color: white;
}

/*
#fillform{
  width: 15%;
  height: 43vh;
  background: black;
  color: white;
  position: absolute;
  top:15%;
  left:74%;
  color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}

#fillform h2{
  text-align: center;
  margin-top: 3%;
  text-transform: uppercase;
}

#fillform p{
  text-align: center;
  font-size: 0.6em;
  text-transform: uppercase;
  margin: 2%;
}

input{
  margin:6%;
  width: 80%;
  height: 4vh;
  outline: 0;
  padding: 3px;
  background-color: #fff;
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
}

#fillform button{
  margin:6%;
  width:80%;
  height: 4vh;
  text-transform: uppercase;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
*/
#popupform{
  border:2px solid black;
  width:40%;
  position:fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  display:flex;
  height: 65vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  visibility: hidden;
  transition: transform 0.4s,top 0.4s;
}

#popupform.active{
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  visibility: visible;
}

.fchild{
  width: 30%;
}
.ftext{
  width:70%;
}
.fchild img{
  width: 100%;
  height: 65vh;
  border-radius: 10px 0px 0px 10px;
}
.ftext h3{
  margin-top: 5%;
  text-align: center;
}
.ftext p{
  margin-right: 1%;
  margin-left: 1%;
  text-align: center;
}
#name,#email{
  width:50%;
  height: 5vh;
  margin-left:25%;
  margin-top:10%;
}
#num1{
  width: 10%;
  height: 5vh;
  margin-left:25%;
  margin-top:10%;
}
#num2{
  width: 37%;
  height: 5vh;
  margin-left:1%;
}
#costbtn{
  width:50%;
  color: white;
  font-weight: bold;
  background-color:red;
  height: 5vh;
  margin-left:25%;
  margin-top:10%;
  cursor: pointer;
}
#pnumber{
  margin-top: 3%;
}
#cancel{
  float: right;
  cursor: pointer;
}
#spopup{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#nav{
  border: 1px solid black;
  margin-top: 0.1%;
  margin-left: 0.2%;
  margin-right: 0.2%;
  border-radius: 5px;
  display: flex;
  width:99%;
  height:10vh;
}

.navitems{
  display: flex;
  width: 20%;
  height: 7vh;
}

.navitems p{
  margin-top: 5%;
  margin-left: 7%;
  color:white;
  font-size: 1em;
}
.navitems p:hover{
  cursor: pointer;
}


.destinations{
  width: 80%;
  height:50vh;
  border: 1px solid black;
  display: flex;
  margin: 3% auto;
  border-radius: 10px;

}
.leftright{
  width:25%;

}
.pcities{
  display: flex;
  font-size: 1.2em;
}
.middle{
  width: 50%;
}
.middle h2{
  color:blue;
  margin-top: 4%;
  margin-left: 2%;

}
.middle p{
  color: grey;
  margin-top: 2%;
  margin-left: 2%;
}

.middle button{
  color: grey;
  border:1px solid grey;
  cursor: pointer;
  width: 20%;
  height: 4vh;
  margin-top: 3%;
  margin-left: 4%;
  border-radius:15px;
}
.middle ul{
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.1em;
}

.leftright img{
  width: 100%;
  height:50vh;
  border-radius:10px 0px 0px 10px;
}
.right h4{
  margin-top: 5%;
  margin-left: 7%;
}
.right ul{
  list-style-type: none;
  list-style-image: url("Images/check.png");
  color: grey;
  margin-top: 3%;
  margin-left: 13%;
}
.close{
  list-style-type: none;
  list-style-image: url("Images/close.png");
}

.right li{
  margin-top: 0.5%;
}

.right p{
  margin-top: 20%;
  margin-left: 10%;
}

.right h2{
  display: inline-block;
  margin-left: 10%;
}

.right button{
  background: red;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 10%;
  margin-left: 5%;
  width: 80%;
  height: 5vh;
  border-radius: 5px;
}
.destinations:hover{
  box-shadow: 5px 5px 5px grey;
  cursor: pointer;
}
